/* Variables */
:root {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #7845de50;
    --text: #fff;
    --text-dim: #8d8b97;
    --add-fill: #261C4A;
    --borders: #C28EF5;
    --borders-dim: rgba(138, 121, 159, 0.507);
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

/* Global Styles */
body, html {
    background-color: #0D0922;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow: hidden;
}

/* Nav styling */
nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 100%;
    padding: 25px;
    border-right: solid 2px var(--borders-dim);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    margin-top: 20px;
    width: 100%;
    scale: 1.3;
    margin-bottom: 1rem;
}

.icon-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px var(--tertiary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-top: 1rem;
    cursor: pointer;
    margin-bottom: 3rem;
    transition: 0.2s;
}

.add-btn:hover {
    border: dashed 2px var(--primary-color);
}

.add-svg {
    color: var(--secondary-color);
    width: 20px;
    height: 20px;
}

.home-btn svg, .logout-btn svg, .dash-btn svg, .pet-btn svg {
    color: var(--secondary-color);
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.home-btn:hover svg, .logout-btn:hover svg, .dash-btn:hover svg, .pet-btn:hover svg {
    color: var(--primary-color);
    cursor: pointer;
}

.logout-btn {
    margin-top: 50px;
}

@media screen and (max-width: 768px) {
    nav {
        width: 20px;
    }

    .logo img {
        margin-top: 10px;
        width: 100%;
        scale: 2;
        margin-bottom: 1rem;
    }

    .icon-links {
        gap: 20px;
    }

    .add-svg {
        color: var(--secondary-color);
        width: 15px;
        height: 15px;
    }

    .home-btn svg, .logout-btn svg, .dash-btn svg, .pet-btn svg {
        color: var(--secondary-color);
        width: 30px;
        height: 30px;
        transition: 0.2s;
    }

    .add-btn {
        width: 30px;
        height: 30px;
    }
}

.add-assignment-form {
    background: var(--add-fill);
    padding: 2rem;
    border-radius: 35px;
    border: 1px solid var(--borders);
    box-shadow: 0 0 20px rgba(224, 224, 224, 0.2);
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.add-assignment-form.show {
    opacity: 0.8;
    visibility: visible;
}

.add-assignment-form form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
}

.add-assignment-form input,
.add-assignment-form select {
    padding: 0.8rem;
    background: var(--add-fill);
    border: 1px solid var(--borders);
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
    color: var(--text);
}

.add-assignment-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='%23C28EF5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 40px;
}

.add-assignment-form input:focus,
.add-assignment-form select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
}

.add-assignment-form select option {
    background: var(--add-fill);
    color: var(--text);
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 50px;
}

.add-assignment-form button {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.add-assignment-form button[type="submit"] {
    background: var(--primary-color);
    color: var(--text);
}

.add-assignment-form button[type="button"] {
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--text-dim);
}

.add-assignment-form button:hover {
    transform: translateY(-2px);
}

.add-assignment-form button[type="submit"]:hover {
    background: var(--primary-color);
    box-shadow: 0 2px 8px var(--tertiary-color);
}

::placeholder {
    color: var(--text-dim);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
}

.add-btn.rotate {
    transform: rotate(45deg);
}

/* Dashboard styling */
.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100dvw;
    height: 100dvh;
    padding: 2rem;
    z-index: 1;
    margin-left: 100px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 70%;
    height: 90dvh;
    padding: 40px;
    border-radius: 35px;
    color: var(--text);
    margin-top: -40px;
}

.breds {
    color: var(--text-dim);
}

.breds h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.breds h1 span {
    color: var(--text);
}

.seperator-line {
    width: 35%;
    height: 1.5px;
    background: var(--borders-dim);
}

/* Petboard styling */
.pet-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 30%;
    height: 90%;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid var(--borders-dim);
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.2);
    color: var(--text);
}

.pet-cont {
    display: flex;
    width: 100%;
    height: 65%;
    flex-direction: column;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
}

.pet-cont img {
    position: absolute;
    
}
.pet-cont .pet-bg {
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.pet-cont .pet-gif {
    height: 70%;
    width: auto;
    margin: auto;
    margin-right: 25px;
}

.label-s {
    margin-right: 10px;
}

.pet-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    margin: 0px 0px;
    padding: 0px;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.bar {
    position: relative;
    height: 5px;
    background: #e0e0e0;
    border-radius: 12px;
    margin: 15px 0;
    overflow: hidden;
}

.bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--percentage);
    border-radius: 12px;
    transition: width 0.3s ease;
}

.bar::after {
    
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
    font-size: 8px;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.8);
}

#hp::before {
    background: linear-gradient(90deg, #9dfc66, #92ff53);
}

#xp::before {
    background: linear-gradient(90deg, #9C27B0, #BA68C8);
}

#pwr::before {
    background: linear-gradient(90deg, #ff0000, #ff4d4d);
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 15px 0;
    margin-top: 8px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 10px;
}

.labels span {
    color: var(--text-dim);
    content: attr(data-current) '/' attr(data-max);
}

.bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;
}