/* Theme Variables - thundurus Theme */
.theme-thundurus {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #7845de50;
    --text: #fff;
    --text-dim: #8b64a1cc;
    --add-fill: #261C4A;
    --borders: #C28EF5;
    --borders-dim: rgba(138, 121, 159, 0.507);
    --background-image: url('../images/bg.png');
    --petbg-image: url('../images/pet-bg.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/thundurus.gif');
    --pet-scale: 1.2;
}

/* blaziken Theme */
.theme-blaziken {
    --primary-color: #FF6B4A;
    --secondary-color: #CC4F32;
    --tertiary-color: #ff452250;
    --text: #fff;
    --text-dim: #a56255cc;
    --add-fill: #4A1F1A;
    --borders: #FF6B4A;
    --borders-dim: rgba(204, 79, 50, 0.507);
    --background-image: url('../images/bg-fire.png');
    --petbg-image: url('../images/pet-bg-fire.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(60%) contrast(400%);
    --background-color: #111111;
    --pet: url('../images/mega-charizard.gif');
    --pet-scale: 1.2;
}

/* absol Theme */
.theme-absol {
    --primary-color: #4AA5FF;
    --secondary-color: #3280CC;
    --tertiary-color: #9ec0ff50;
    --text: #000000;
    --text-dim: #213f58cc;
    --add-fill: #dcedff;
    --borders: #4AA5FF;
    --borders-dim: rgba(50, 128, 204, 0.507);
    --petbg-image: url('../images/pet-bg-water.jpg');
    --background-image: url('../images/bg-water.png');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #ececec;
    --pet: url('../images/absol-mega.gif');
    --pet-scale: 1;
    --pet-ml: 85px;
}

/* venasaur Theme */
.theme-venasaur {
    --primary-color: #4AFF91;
    --secondary-color: #32CC6F;
    --tertiary-color: #22ff4550;
    --text: #fff;
    --text-dim: #5ea150cc;
    --add-fill: #1A4A2F;
    --borders: #4AFF91;
    --borders-dim: rgba(50, 204, 111, 0.507);
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --background-image: url('../images/bg-grass.png');
    --filter-color: invert(70%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/mega-venasaur.gif');
    --pet-scale: 1.2;
}

/* pangoru Theme */
.theme-snorlax {
    --primary-color: #64a4c2; /* Changed to teal */
    --secondary-color: #46818b; /* Changed to teal */
    --tertiary-color: #64b7c250; /* Changed to teal with transparency */
    --text: #fff;
    --text-dim: #6d8d96cc;
    --add-fill: #2f494f; /* Changed to teal */
    --borders: #64C2C2; /* Changed to teal */
    --borders-dim: rgba(70, 123, 139, 0.507); /* Changed to teal with transparency */
    --petbg-image: url('../images/pet-bg-sleep.jpg');
    --background-image: url('../images/bg-sleep.png');
    --filter-color: invert(50%) sepia(100%) saturate(500%) hue-rotate(170deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/snorlax.gif');
    --pet-scale: 1;
}

/* scizor Theme */
.theme-scizor {
    --primary-color: #D32F2F;
    --secondary-color: #B71C1C;
    --tertiary-color: #d32f2f50;
    --text: #fff;
    --text-dim: #ff7777b9;
    --add-fill: #4A1F1A;
    --borders: #D32F2F;
    --borders-dim: rgba(183, 28, 28, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-dark.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(60%) contrast(1000%);
    --background-color: #111111;
    --pet: url('../images/scizor.gif');
    --pet-scale: 1.2;
    --pet-contrast: 1.5;
}

/* celebi Theme */
.theme-celebi {
    --primary-color: #FFB6C1;
    --secondary-color: #FF69B4;
    --tertiary-color: #ffb6c150;
    --text: #000000;
    --text-dim: #b565a7cc;
    --add-fill: #ffe4e1;
    --borders: #FFB6C1;
    --borders-dim: rgba(255, 155, 170, 0.897);
    --background-image: url('../images/bg-pink.png');
    --petbg-image: url('../images/pet-bg-pink.jpg');
    --filter-color: invert(70%) sepia(100%) saturate(500%) hue-rotate(300deg) brightness(100%) contrast(100%);
    --background-color: #fff0f5;
    --pet: url('../images/celebi.gif');
    --pet-scale: 0.6;
}

/* umbreon Theme */
.theme-umbreon {
    --primary-color: #0D47A1;
    --secondary-color: #1565C0;
    --tertiary-color: #0d47a150;
    --text: #ffffff;
    --text-dim: #90caf9cc;
    --add-fill: #0d47a1;
    --borders: #2d74dd;
    --borders-dim: rgba(47, 118, 224, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-umbreon.jpg');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #181818;
    --pet: url('../images/umbreon.gif');
    --pet-scale: 1;
}

.pet-cont .pet-gif {
    height: 80%;
    width: 80%;
    margin: 0 25px 0 0;
    background: var(--pet) no-repeat center/contain;
    image-rendering: pixelated;
    scale: var(--pet-scale);
    filter: contrast(var(--pet-contrast));
}

/* Base Styles */
body, html {
    background-color: var(--background-color);
    background-image: var(--background-image);
    background-size: cover;
    background-position: center;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

/* Navigation */
nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50px;
    height: 100%;
    padding: 25px;
    border-right: solid 2px var(--borders-dim);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo img {
    margin: 20px 0 1rem 0;
    width: 100%;
    scale: 1.3;
    filter: var(--filter-color);
}

.icon-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    gap: 20px;
}

.add-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: dashed 2px var(--tertiary-color);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 1rem 0 3rem 0;
    cursor: pointer;
    transition: 0.2s;
}

.add-btn:hover {
    border-color: var(--primary-color);
}

.add-btn.rotate {
    transform: rotate(45deg);
}

.add-svg {
    color: var(--secondary-color);
    width: 20px;
    height: 20px;
}

.home-btn svg, .logout-btn svg, .dash-btn svg, .pet-btn svg {
    color: var(--secondary-color);
    width: 35px;
    height: 35px;
    transition: 0.2s;
}

.home-btn:hover svg, .logout-btn:hover svg, .dash-btn:hover svg, .pet-btn:hover svg {
    color: var(--primary-color);
    cursor: pointer;
}

.logout-btn {
    margin-top: 50px;
}

/* Dashboard Layout */
.dashboard-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100dvw;
    height: 100dvh;
    padding: 0;
    z-index: 1;
    margin-left: 110px;
    gap: 40px;
}

.left-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 30%;
    height: 90%;
    padding: 40px;
    padding-top: 0;
    border-radius: 35px;
    color: var(--text);
    margin-bottom: -30px;
}

.breds {
    color: var(--text-dim);
}

.breds h1 {
    font-size: 1.5rem;
    font-weight: 500;
}

.breds h1 span {
    color: var(--text);
}

.seperator-line {
    width: 35%;
    height: 1.5px;
    background: var(--borders-dim);
}

/* Pet Board */
.pet-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 100%;
    height: 100%;
    margin-bottom: 40px;
    padding: 20px;
    border-radius: 25px;
    border: 2px solid var(--borders-dim);
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.2);
    color: var(--text);
}

.pet-cont {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    border-radius: 15px;
    gap: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    background: var(--petbg-image);
    background-size: cover;
    margin-top: 5px;
}

.pet-cont img {
    position: absolute;
}



/* Pet Stats */
.pet-stats {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    margin: 0;
    padding: 0;
    background: transparent;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.bar {
    position: relative;
    height: 5px;
    background: #e0e0e0;
    border-radius: 12px;
    margin: 15px 0;
    overflow: hidden;
}

.bar::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: var(--percentage);
    border-radius: 12px;
    transition: width 0.3s ease;
}

#hp::before {
    background: linear-gradient(90deg, #9dfc66, #92ff53);
}

#xp::before {
    background: linear-gradient(90deg, #9C27B0, #BA68C8);
}

#pwr::before {
    background: linear-gradient(90deg, #ff0000, #ff4d4d);
}

.labels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 8px 0 20px 10px;
    font-size: 10px;
}

.labels span {
    color: var(--text-dim);
}

.bars {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 0 10px 0;
}

/* Assignment Form */
.add-assignment-form {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 2rem;
    border-radius: 35px;
    border: 1px solid var(--borders);
    box-shadow: 0 0 20px rgba(224, 224, 224, 0.2);
    width: 100%;
    max-width: 500px;
    height: 400px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    backdrop-filter: blur(10px); /* Blur effect for background */
}

.add-assignment-form.show {
    opacity: 1;
    visibility: visible;
}

.add-assignment-form form {
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 100%;
    backdrop-filter: blur(30px); /* Added blur effect */
}

.add-assignment-form input,
.add-assignment-form select {
    padding: 0.8rem;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    border: 1px solid var(--borders);
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
    color: var(--text);
    backdrop-filter: blur(10px); /* Blur effect for background */
}

.add-assignment-form select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 40px;
}

.add-assignment-form input:focus,
.add-assignment-form select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
}

.add-assignment-form select option {
    background: var(--background-color);
    color: var(--text);
}

.button-group {
    display: flex;
    gap: 1rem;
    margin-top: 50px;
}

.add-assignment-form button {
    flex: 1;
    padding: 1rem;
    border: none;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.add-assignment-form button[type="submit"] {
    background: var(--primary-color);
    color: var(--text);
}

.add-assignment-form button[type="button"] {
    background: transparent;
    border: 1px solid var(--secondary-color);
    color: var(--text-dim);
}

.add-assignment-form button:hover {
    transform: translateY(-2px);
}

.add-assignment-form button[type="submit"]:hover {
    background: var(--primary-color);
    box-shadow: 0 2px 8px var(--tertiary-color);
}

/* Form Utils */
::placeholder {
    color: var(--text-dim);
}

input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    opacity: 0.6;
}

/* Media Queries */
@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    nav {
        width: 20px;
    }

    .logo img {
        margin: 10px 0 1rem 0;
        scale: 2;
    }

    .add-svg {
        width: 15px;
        height: 15px;
    }

    .home-btn svg, .logout-btn svg, .dash-btn svg, .pet-btn svg {
        width: 30px;
        height: 30px;
    }

    .add-btn {
        width: 30px;
        height: 30px;
    }

    .dashboard-wrapper {
        flex-direction: column;
        margin-left: 60px;
        height: auto;
        padding: 1rem;
    }

    .left-panel {
        max-width: 100%;
        padding: 20px;
        height: auto;
        margin: -10px 0 0 10px;
    }

    .pet-board {
        max-width: calc(100% - 80px);
        height: auto;
        margin: 0 20px 20px 20px;
    }

    .pet-cont {
        height: 300px;
    }

    .pet-cont .pet-gif {
        height: 60%;
        margin-right: 0;
    }

    .pet-stats {
        flex-direction: column;
        gap: 10px;
    }

    .labels {
        flex-direction: row;
        margin: 5px 0;
    }

    .seperator-line {
        width: 100%;
    }

    .breds {
        padding: 0 20px;
        text-align: center;
    }

    .breds h1 {
        font-size: 1.2rem;
    }

    .add-assignment-form {
        width: 90%;
        height: auto;
        padding: 1.5rem;
        max-height: 90vh;
        overflow-y: auto;
    }

    .add-assignment-form form {
        gap: 1rem;
    }

    .add-assignment-form input,
    .add-assignment-form select {
        padding: 0.6rem;
        font-size: 0.9rem;
    }

    .button-group {
        margin-top: 30px;
    }

    .add-assignment-form button {
        padding: 0.8rem;
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 480px) {
    .add-assignment-form {
        width: 95%;
        padding: 1rem;
    }

    .pet-cont {
        height: 250px;
    }

    .pet-cont .pet-gif {
        height: 50%;
    }

    .button-group {
        flex-direction: column;
        gap: 0.8rem;
    }

    .breds h1 {
        font-size: 1rem;
    }
}

@media screen and (orientation: landscape) and (max-height: 600px) {
    .dashboard-wrapper {
        height: auto;
        min-height: 100dvh;
    }

    .pet-cont {
        height: 200px;
    }

    .add-assignment-form {
        position: fixed;
        max-height: 80vh;
    }
}

.assignment-board {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 70%;
    height: 80%;
    margin-bottom: 40px;
    padding: 20px 80px 20px 20px; /* Added right padding */
    border-radius: 25px;
    border: 2px solid var(--borders-dim);
    box-shadow: 0 0 20px rgba(44, 44, 44, 0.2);
    color: var(--text);
    overflow: hidden;
    margin-right: 40px;
}

.assignment-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    height: 80%;
    padding: 20px;
    border-radius: 15px;
    background: transparent;
    transition: 0.2s;
    overflow: auto;
}

.assignment {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 15px;
    transition: 0.2s;
    gap: 20px;
}

.assignment label {
    font-size: 0.8rem;
    font-weight: 500;
    flex: 1;
    text-align: left;
    color: var(--text-dim);
}

.assignment-title label,
.assignment-date label,
.assignment-xp label {
    margin-bottom: 2px; /* Adjust this value as needed */
}

.assignment-title p,
.assignment-date p,
.assignment-xp p {
    margin-top: 2px; /* Adjust this value as needed */
}

.assignment div {
    flex: 2;
    text-align: left;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary-color);
    border-radius: 10px;
    border: 3px solid transparent;
    background-clip: content-box;
}

.search-sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    column-gap: 40px;
    row-gap: 40px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-top: 30px;
    width: 100%;
    white-space: nowrap; /* Prevent wrapping */
}

.search-sort input {
    padding: 0.8rem;
    background: transparent;
    border: 1px solid var(--borders);
    border-radius: 15px;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
    color: var(--text);
    width: 60%;
}

.search-sort input:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
}

.search-sort input::placeholder {
    color: var(--text);
}

.search-sort select {
    padding: 0.8rem;
    background: transparent;
    border: 1px solid var(--borders);
    border-radius: 15px;
    width: 30%;
    font-size: 1rem;
    outline: none;
    transition: all 0.3s;
    color: var(--text);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 24 24' fill='none' stroke='rgba(255, 255, 255, 0.8)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 9l6 6 6-6'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 15px center;
    padding-right: 40px;
    margin-left: 10px;
}

.search-sort select:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px var(--tertiary-color);
}

.search-sort select option {
    background: var(--add-fill);
    color: var(--text);
}

.search-sort button {
    padding: 0.7rem;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s;
    background: transparent;
    color: var(--text);
    border: solid 1px var(--borders);
    width: 100px;
    height: 45px;
    margin-left: 10px;
}

.search-sort button:hover {
    transform: translateY(-2px);
}

.assignment-actions {
    display: flex;
    flex-direction: row;
    gap: 50%;
    justify-content: center;
    align-items: center;
}

.assignment-actions button {
    width: 50px;
    height: 20px;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.assignment-actions button svg {
    width: 20px;
    height: 20px;
    color: var(--secondary-color);
    transition: 0.4s;
}

.assignment-actions button svg:hover {
    color: #ff0000c7;
}

.assignment-actions a {
    text-decoration: none;
    color: var(--text);
    font-size: 1rem;
    transition: 0.4s;
}

.assignment-actions a:hover {
    color: var(--primary-color);
}

.assignment input[type="checkbox"] {
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border: 2px solid var(--borders);
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    position: relative;
}

.assignment input[type="checkbox"]:checked {
    animation: jiggle 0.5s;
    background-color: var(--tertiary-color);
    border-color: var(--primary-color);
}

/* Add checkmark using pseudo-element */
.assignment input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    left: 5px;
    top: 2px;
    width: 6px;
    height: 11px;
    border: solid var(--borders);
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    animation: checkmark 0.2s ease-in-out;
}

/* Animation for the checkmark appearance */
@keyframes checkmark {
    0% {
        opacity: 0;
        transform: rotate(45deg) scale(0.8);
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: rotate(45deg) scale(1);
    }
}

/* Existing jiggle animation */
@keyframes jiggle {
    0% { transform: scale(1); }
    25% { transform: scale(0.95); }
    50% { transform: scale(1.05); }
    75% { transform: scale(0.95); }
    100% { transform: scale(1); }
}

/* spinner */
#loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-spinner {
    width: 50px;
    height: 50px;
    border: 5px solid var(--primary-color);
    border-top: 5px solid var(--accent-color);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.delete-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 30%;
    height: auto;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    border: solid 2px var(--borders);
    backdrop-filter: blur(10px); /* Blur effect for background */
}

.delete-modal p {
    margin: 0;
}

.all-caps {
    color: var(--text-dim);
    font-weight: 700;
}

.delete-modal-buttons {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}

.cancel-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: #ccc;
    cursor: pointer;
}

.delete-button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background: #ff4444;
    color: white;
    cursor: pointer;
}