:root {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #2f224a;
    --text: #fff;
    --text-dim: #8d8b97;
}

body, html {
    background-color: #0D0922;
    background-image: url('../images/bg.png'); /* Add your image path here */
    background-size: cover; /* Ensure the image covers the entire background */
    background-position: center; /* Center the background image */
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Disable scrolling */
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 24px;
    position: fixed;
    z-index: 1000;
    text-align: center;
    color: var(--text);
    margin-bottom: 60px;
}

.header-container h1 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 0;
}

.header-container h3 {
    margin-top: 15px;
    font-size: 24px;
    font-weight: 400;
    color: var(--text-dim);
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.btns a {
    text-decoration: none;
}

.register-btn {
    background-color: var(--primary-color);
    color: var(--text) !important;    
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.3s;
    text-decoration: none;
    border: solid 2px var(--primary-color);
    width: 150px;
}

.register-btn:hover {
    background-color: transparent;
}

.login-btn {
    background-color: transparent;
    color: var(--text);
    border: solid 2px var(--primary-color);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s;
    text-decoration: none;
    width: 150px;
}

.login-btn:hover {
    background-color: var(--primary-color);
    color: var(--text-dim);
}

.login-btn a {
    color: var(--text);
}

.register-btn a {
    color: black;
}

.login-btn:hover a {
    color: black;
}

.register-btn:hover a {
    color: var(--text);
}

