/* Variables */
:root {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #2f224a;
    --text: #fff;
    --text-dim: #8d8b97;
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    opacity: 1;
}

/* Global Styles */
body, html {
    background-color: #0D0922;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden; /* Disable scrolling */
}

/* Wrapper */
.wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    padding: 30px 25px;
    box-sizing: border-box; /* Include padding in the width */
}

/* Slide Show */
.slide-show {
    width: 45%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.slide-show img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out; 
    border-radius: 20px;
}

.slide-show img:first-child {
    opacity: 1;
}

/* Logo */
.logo {
    position: absolute;
    top: 50px; /* 50px from the top */
    left: 50px; /* 50px from the left */
    width: 100px;
    height: auto;
    z-index: 10; /* Make sure the logo is on top of the images */
}

/* Indicators */
.indicators {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.dot {
    height: 5px;
    width: 50px;
    margin: 10px 5px;
    background-color: #717171;
    border-radius: 10px; 
    display: inline-block; /* Make the dots appear in a row */
    transition: background-color 0.6s ease; /* Smooth transition */
}

.dot.active {
    background-color: #bbb;
}

/* Catch Phrase / quote */
.catch-p {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--text);
    font-size: 1.7rem;
    font-weight: 500;
    width: 400px;
}

.catch-p p {
    margin-top: -150px;
    padding: 0; 
    text-align: center;
}

/* Login Wrapper */
.login-wrapper {
    width: 100%;
    height: 100%;
    max-width: 840px;
    display: flex;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    text-align: left;
    user-select: none;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.login-center {
    margin-top: 5%;
    margin-left: 20%;
}

/* Header */
.header {
    color: var(--text);
    margin-bottom: 20px;
}

.header h1 {
    font-size: 64px;
    font-weight: 300;
    margin-bottom: 0;
}

.header h4 {
    font-size: 14px;
    font-weight: 300;
    color: var(--text-dim);
    margin-top: 20px;
    margin-left: 5px;
    margin-bottom: 50px;
}

.header h4 a {
    margin-left: 10px;
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s;
}

.header h4 a:hover {
    color: var(--secondary-color);
}

/* Login Form */
.login form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-left: 0px;
    max-width: 440px;
}

.login form input {
    display: block;
    padding-left: 10px;
    width: 100%;
    height: 45px;
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    background-color: #1E1A3C;
    color: var(--text);
    margin-bottom: 30px;
    user-select: none;
    justify-content: space-between;
}

.login form button {
    width: 60px;
    height: 0px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 410px;
    margin-top: 30px;
}

.login form button:hover {
    transform: translateX(2px); 
}

/* Password Input */
.password-input {
    position: relative;
}

.password-input svg {
    position: absolute;
    right: 10px;
    top: 25px;
    transform: translateY(-50%);
    cursor: pointer;
}

/* Back to Home */
.back-to-home {
    left: 50px;
    position: absolute;
    color: var(--text-dim);
    font-size: 14px;
    bottom: 40px;
}

.back-to-home a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s;
}

.back-to-home a:hover {
    color: var(--secondary-color);
}

.terms {
    color: var(--text-dim);
    font-size: 14px;
    margin-top: -14px;
    display: flex;
    align-items: center; /* Align items horizontally */
}

.terms a {
    color: var(--primary-color);
    text-decoration: none;
    transition: 0.2s;
    margin-left: 5px;
}

.terms a:hover {
    color: var(--secondary-color);
}

@media screen and (max-height: 715px){
    .login form input {
        height: 30px;
    }
    
    .password-input svg {
        top: 18px;
    }

    .header h1 {
        font-size: 30px;
    }

    .header h4 {
        font-size: 10px;
        margin-bottom: 30px;
    }

    .slide-show {
        width: 65%;
    }
}


@media screen and (max-width: 768px) {
    /* Global Styles */
    body, html {
        overflow-y: auto; /* Enable vertical scrolling */
        height: auto;
    }

    /* Wrapper */
    .wrapper {
        flex-direction: column;
        padding: 15px;
        height: auto;
    }

    /* Slide Show */
    .slide-show {
        width: 100%;
        height: 300px;
        margin-bottom: 20px;
    }

    /* Logo */
    .logo {
        top: 40px;
        left: 27%;
        width: 50px;
    }

    /* Indicators */
    .indicators {
        bottom: 5px;
    }

    .dot {
        height: 4px;
        width: 30px;
        margin: 5px 3px;
    }

    /* Catch Phrase */
    .catch-p {
        width: 90%;
        font-size: 1.2rem;
    }

    .catch-p p {
        margin-top: -100px;
    }

    .login-center {
        margin: 20px auto;
        width: 90%;
    }

    /* Header */
    .header h1 {
        font-size: 36px;
        text-align: center;
    }

    .header h4 {
        font-size: 12px;
        text-align: center;
        margin-bottom: 30px;
    }

    /* Login Form */
    .login form {
        width: 100%;
    }

    .login form input {
        width: 95%;
        height: 40px;
        margin-bottom: 20px;
    }

    .login form button {
        margin: -10px auto;
        width: 50px;
        height: 50px;
    }

    /* Password Input */
    .password-input svg {
        right: 15px;
        margin-right: 0;
    }

    /* Back to Home */
    .back-to-home {
        display: none;
    }

    /* Terms */
    .terms {
        text-align: center;
        justify-content: center;
        margin: 15px 0;
        flex-wrap: wrap;
    }

    .terms a {
        margin: 0 3px;
    }
}

/* From Uiverse.io by Galahhad */ 
.ui-checkbox {
    --primary-color: #6f16ff;
    --secondary-color: transparent;
    --secondary-color2: #fff;
    --primary-hover-color: #6f16ff56;
    /* checkbox */
    --checkbox-diameter: 18px;
    --checkbox-border-radius: 5px;
    --checkbox-border-color: #ffffff83;
    --checkbox-border-width: 2px;
    --checkbox-border-style: solid;
    /* checkmark */
    --checkmark-size: 1.2;
  }
  
  .ui-checkbox, 
  .ui-checkbox *, 
  .ui-checkbox *::before, 
  .ui-checkbox *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  
  .ui-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--checkbox-diameter);
    height: var(--checkbox-diameter);
    border-radius: var(--checkbox-border-radius);
    background: var(--secondary-color);
    border: var(--checkbox-border-width) var(--checkbox-border-style) var(--checkbox-border-color);
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    cursor: pointer;
    position: relative;
    margin-right: 20px;
    margin-top: 1px;
  }
  
  .ui-checkbox::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    box-shadow: 0 0 0 calc(var(--checkbox-diameter) / 2.5) var(--primary-color);
    border-radius: inherit;
    opacity: 0;
    -webkit-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    -o-transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
    transition: all 0.5s cubic-bezier(0.12, 0.4, 0.29, 1.46);
  }
  
  .ui-checkbox::before {
    top: 40%;
    left: 50%;
    content: "";
    position: absolute;
    width: 4px;
    height: 7px;
    border-right: 2px solid var(--secondary-color2);
    border-bottom: 2px solid var(--secondary-color2);
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(0);
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
    opacity: 0;
    -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    -o-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
    transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6),opacity 0.1s;
  }
  
  /* actions */
  
  .ui-checkbox:hover {
    border-color: var(--primary-color);
  }
  
  .ui-checkbox:checked {
    background: var(--primary-color);
    border-color: transparent;
  }
  
  .ui-checkbox:checked::before {
    opacity: 1;
    -webkit-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -ms-transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    transform: translate(-50%, -50%) rotate(45deg) scale(var(--checkmark-size));
    -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    -o-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
    transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  }
  
  .ui-checkbox:active:not(:checked)::after {
    -webkit-transition: none;
    -o-transition: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: none;
    opacity: 1;
  }
  /* From Uiverse.io by Galahhad end */ 
