/* Theme Variables */
.theme-thundurus {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #7845de50;
    --text: #fff;
    --text-dim: #8b64a1cc;
    --add-fill: #261C4A;
    --borders: #C28EF5;
    --borders-dim: rgba(138, 121, 159, 0.507);
    --background-image: url('../images/bg.png');
    --petbg-image: url('../images/pet-bg.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/thundurus.gif');
    --pet-scale: 1.2;
    --form-transparency: #0000008f;
}

.theme-shinx {
    --primary-color: #1eadff;
    --secondary-color: #FFD700;
    --tertiary-color: #1db7ff8c;
    --text: #fff;
    --text-dim: #dfdc56cc;
    --add-fill: #261C4A;
    --borders: #1ebfff;
    --borders-dim: rgba(30, 210, 255, 0.507);
    --background-image: url('../images/bg-blueyellow.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(190deg) brightness(85%) contrast(300%);
    --background-color: #111111;
    --pet: url('../images/shinx.gif');
    --pet-scale: 0.7;
    --form-transparency: #0000008f;
    --pet-contrast: 1;
    --pet-saturate: 200%;
}

.theme-luxio {
    --primary-color: #1eadff;
    --secondary-color: #FFD700;
    --tertiary-color: #1db7ffa2;
    --text: #fff;
    --text-dim: #dfdc56cc;
    --add-fill: #261C4A;
    --borders: #1ebfff;
    --borders-dim: rgba(30, 210, 255, 0.507);
    --background-image: url('../images/bg-blueyellow.png');
    --petbg-image: url('../images/pet-bg-deepblue.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(190deg) brightness(85%) contrast(300%);
    --background-color: #111111;
    --pet: url('../images/luxio.gif');
    --pet-scale: 0.8;
    --form-transparency: #0000008f;
    --pet-contrast: 1;
    --pet-saturate: 200%;
}

.theme-luxray {
    --primary-color: #1eadff;
    --secondary-color: #FFD700;
    --tertiary-color: #1db7ff8f;
    --text: #fff;
    --text-dim: #dfdc56cc;
    --add-fill: #261C4A;
    --borders: #1ebfff;
    --borders-dim: rgba(30, 210, 255, 0.507);
    --background-image: url('../images/bg-blueyellow.png');
    --petbg-image: url('../images/pet-bg-deepblue.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(190deg) brightness(85%) contrast(300%);
    --background-color: #111111;
    --pet: url('../images/luxray.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
    --pet-contrast: 1;
    --pet-saturate: 200%;
}

.theme-ralts {
    --primary-color: #2b81e4;
    --secondary-color: #e66430;
    --tertiary-color: #3664b871;
    --text: #ffffff;
    --text-dim: #82d1ffcc;
    --add-fill: #1664ad;
    --borders: #e46736;
    --borders-dim: rgba(255, 122, 61, 0.507);
    --background-image: url('../images/bg-gard.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/ralts.gif');
    --pet-scale: 0.7;
    --form-transparency: #0000008f;
}

.theme-kirlia {
    --primary-color: #2b81e4;
    --secondary-color: #e66430;
    --tertiary-color: #3664b871;
    --text: #ffffff;
    --text-dim: #82d1ffcc;
    --add-fill: #1664ad;
    --borders: #e46736;
    --borders-dim: rgba(255, 122, 61, 0.507);
    --background-image: url('../images/bg-gard.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/kirlia.gif');
    --pet-scale: 0.8;
    --form-transparency: #0000008f;
}

.theme-gardevoir {
    --primary-color: #2b81e4;
    --secondary-color: #e66430;
    --tertiary-color: #3664b871;
    --text: #ffffff;
    --text-dim: #82d1ffcc;
    --add-fill: #1664ad;
    --borders: #e46736;
    --borders-dim: rgba(255, 122, 61, 0.507);
    --background-image: url('../images/bg-gard.png');
    --petbg-image: url('../images/pet-bg-gard.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/gardevoir.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

.theme-megaGardevoir {
    --primary-color: #2b81e4;
    --secondary-color: #e66430;
    --tertiary-color: #3664b871;
    --text: #ffffff;
    --text-dim: #82d1ffcc;
    --add-fill: #1664ad;
    --borders: #e46736;
    --borders-dim: rgba(255, 122, 61, 0.507);
    --background-image: url('../images/bg-gard.png');
    --petbg-image: url('../images/pet-bg-gard.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/megaGardevoir.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-zorua {
    --primary-color: #cf2929;
    --secondary-color: #c04e4e;
    --tertiary-color: #b8363671;
    --text: #ffffff;
    --text-dim: #ff8686cc;
    --add-fill: #791818;
    --borders: #e43636;
    --borders-dim: rgba(255, 61, 61, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(-35deg) brightness(85%) contrast(400%);
    --background-color: #111111;
    --pet: url('../images/zorua.gif');
    --pet-scale: 0.8;
    --form-transparency: #0000008f;
    
}

.theme-zoroark {
    --primary-color: #cf2929;
    --secondary-color: #4ec0a4;
    --tertiary-color: #b8363671;
    --text: #ffffff;
    --text-dim: #ff8686cc;
    --add-fill: #791818;
    --borders: #e43636;
    --borders-dim: rgba(255, 61, 61, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-dark.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(-35deg) brightness(85%) contrast(400%);
    --background-color: #111111;
    --pet: url('../images/zoroark.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-zoroark {
    --primary-color: #cf2929;
    --secondary-color: #4ec0a4;
    --tertiary-color: #b8363671;
    --text: #ffffff;
    --text-dim: #ff8686cc;
    --add-fill: #791818;
    --borders: #e43636;
    --borders-dim: rgba(255, 61, 61, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-dark.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(-35deg) brightness(85%) contrast(400%);
    --background-color: #111111;
    --pet: url('../images/zoroark.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-mimikyu {
    --primary-color: #c5be7d;
    --secondary-color: #888047;
    --tertiary-color: #c2b54271;
    --text: #ffffff;
    --text-dim: #bbb484cc;
    --add-fill: #b1a071;
    --borders: #cfc887;
    --borders-dim: rgba(223, 212, 133, 0.507);
    --background-image: url('../images/bg-yeller.png');
    --petbg-image: url('../images/bg-pink.png');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(20deg) brightness(85%) contrast(50%);
    --background-color: #111111;
    --pet: url('../images/turtle.gif');
    --pet-scale: 0.9;
    --form-transparency: #0000008f;
}

.theme-toxel {
    --primary-color: #b784be;
    --secondary-color: #804788;
    --tertiary-color: #b254c271;
    --text: #ffffff;
    --text-dim: #bb84bbcc;
    --add-fill: #a071b1;
    --borders: #c887cf;
    --borders-dim: rgba(212, 133, 223, 0.507);
    --background-image: url('../images/bg.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(80%) saturate(2000%) hue-rotate(270deg) brightness(85%) contrast(50%);
    --background-color: #111111;
    --pet: url('../images/toxel.gif');
    --pet-scale: 0.85;
    --form-transparency: #0000008f;
}

.theme-toxtricity {
    --primary-color: #ffd100;
    --secondary-color: #8847b3;
    --tertiary-color: #b354ff71;
    --text: #ffffff;
    --text-dim: #fff56acc;
    --add-fill: #b371a0;
    --borders: #ffee51;
    --borders-dim: rgba(176, 58, 255, 0.507);
    --background-image: url('../images/bg-yellow-purple.png');
    --petbg-image: url('../images/pet-bg-elec.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(2500%) hue-rotate(290deg) brightness(90%) contrast(60%);
    --background-color: #111111;
    --pet: url('../images/toxtricity.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-toxtricityGigantamax {
    --primary-color: #ff71f3;
    --secondary-color: #b347b3;
    --tertiary-color: #ff54b371;
    --text: #ffffff;
    --text-dim: #ffb4f4cc;
    --add-fill: #b371b3;
    --borders: #ff87f9;
    --borders-dim: rgba(255, 133, 249, 0.507);
    --background-image: url('../images/bg-pink.png');
    --petbg-image: url('../images/pet-bg-elec.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(300deg) brightness(100%) contrast(70%);
    --background-color: #111111;
    --pet: url('../images/toxtricity-gigantamax.gif');
    --pet-scale: 1.5;
    --form-transparency: #0000008f;
}

.theme-charcadet {
    --primary-color: #ff0000;
    --secondary-color: #c43db8;
    --tertiary-color: #ff000071;
    --text: #ffffff;
    --text-dim: #ff6767cc;
    --add-fill: #ff0000;
    --borders: #ff0000;
    --borders-dim: rgba(255, 0, 0, 0.507);
    --background-image: url('../images/bg-amouge.png');
    --petbg-image: url('../images/pet-bg-fire2.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/charcadet.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

.theme-armorouge {
    --primary-color: #ff0000;
    --secondary-color: #d6c041;
    --tertiary-color: #ff000071;
    --text: #ffffff;
    --text-dim: #ff6767cc;
    --add-fill: #ff0000;
    --borders: #ff0000;
    --borders-dim: rgba(255, 0, 0, 0.507);
    --background-image: url('../images/armorouge.png');
    --petbg-image: url('../images/pet-bg-fire2.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(0deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/armorouge.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-ceruledge {
    --primary-color: #5900ff;
    --secondary-color: #d655c5;
    --tertiary-color: #8072ff71;
    --text: #ffffff;
    --text-dim: #7667ffcc;
    --add-fill: #4311b8;
    --borders: #5d9eff;
    --borders-dim: rgba(0, 60, 255, 0.507);
    --background-image: url('../images/bg-ceruledge.png');
    --petbg-image: url('../images/pet-bg-purphell.jpg');
    --filter-color: invert(30%) sepia(80%) saturate(2000%) hue-rotate(270deg) brightness(85%) contrast(50%);
    --background-color: #111111;
    --background-color: #111111;
    --pet: url('../images/ceruledge.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

.theme-vulpix {
    --primary-color: #0059ff;
    --secondary-color: #0099ff;
    --tertiary-color: #006eff71;
    --text: #ffffff;
    --text-dim: #67c2ffcc;
    --add-fill: #0066ff;
    --borders: #0059ff;
    --borders-dim: rgba(0, 68, 255, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-snowy');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/vulpix.gif');
    --pet-scale: 0.9;
    --form-transparency: #0000008f;
}

.theme-ninetails {
    --primary-color: #0059ff;
    --secondary-color: #0099ff;
    --tertiary-color: #006eff71;
    --text: #ffffff;
    --text-dim: #67c2ffcc;
    --add-fill: #0066ff;
    --borders: #0059ff;
    --borders-dim: rgba(0, 68, 255, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-nine.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(195deg) brightness(85%) contrast(200%);
    --background-color: #111111;
    --pet: url('../images/ninetails.gif');
    --pet-scale: 1.05;
    --form-transparency: #0000008f;
}

.theme-celebi {
    --primary-color: #73da73;
    --secondary-color: #65a75f;
    --tertiary-color: #4fcdff62;
    --text: #ffffff;
    --text-dim: #93f893cc;
    --add-fill: #599e59;
    --borders: #73d878;
    --borders-dim: rgba(93, 182, 93, 0.507);
    --background-image: url('../images/bg-celebi.png');
    --petbg-image: url('../images/pet-bg-celeb.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(2000%) hue-rotate(90deg) brightness(85%) contrast(30%);
    --background-color: #111111;
    --pet: url('../images/celebi.gif');
    --pet-scale: 0.9;
    --form-transparency: #0000008f;
}

.theme-celebiPink {
    --primary-color: #ff69b4;
    --secondary-color: #ff1493;
    --tertiary-color: #82ff6938;
    --text: #ffffff;
    --text-dim: #ffb6c1cc;
    --add-fill: #ff69b4;
    --borders: #ff69b4;
    --borders-dim: rgba(255, 105, 180, 0.507);
    --background-image: url('../images/bg-pink.png');
    --petbg-image: url('../images/pet-bg-celebPink.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(300deg) brightness(100%) contrast(70%);
    --background-color: #111111;
    --pet: url('../images/celebiPink.gif');
    --pet-scale: 0.9;
    --form-transparency: #0000008f;
}

.theme-petilil {
    --primary-color: #97ff82;
    --secondary-color: #5ed341;
    --tertiary-color: #82ff6938;
    --text: #ffffff;
    --text-dim: #d3ffb6cc;
    --add-fill: #5caa5c;
    --borders: #6ce26c;
    --borders-dim: rgba(110, 255, 105, 0.507);
    --background-image: url('../images/bg-grass.png');
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(2000%) hue-rotate(90deg) brightness(85%) contrast(30%);
    --background-color: #111111;
    --pet: url('../images/petilil.gif');
    --pet-scale: 0.8;
    --form-transparency: #0000008f;
}

.theme-lilligant {
    --primary-color: #97ff82;
    --secondary-color: #5ed341;
    --tertiary-color: #82ff6938;
    --text: #ffffff;
    --text-dim: #d3ffb6cc;
    --add-fill: #5caa5c;
    --borders: #6ce26c;
    --borders-dim: rgba(110, 255, 105, 0.507);
    --background-image: url('../images/bg-grass.png');
    --petbg-image: url('../images/pet-bg-lilli.png');
    --filter-color: invert(30%) sepia(100%) saturate(2000%) hue-rotate(90deg) brightness(85%) contrast(30%);
    --background-color: #111111;
    --pet: url('../images/lilligant.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

/* orange red yellow */
.theme-cinderaceGMAX {
    --primary-color: #ff8c00;
    --secondary-color: #ff4500;
    --tertiary-color: #f5c13142;
    --text: #ffffff;
    --text-dim: #ff9b9bcc;
    --add-fill: #c03838;
    --borders: rgb(228, 58, 58);
    --borders-dim: rgba(255, 22, 22, 0.459);
    --background-image: url('../images/bg-cinder.png');
    --petbg-image: url('../images/pet-bg-dark.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(3000%) hue-rotate(300deg) brightness(100%) contrast(70%);
    --background-color: #111111;
    --pet: url('../images/cinderaceGMAX.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}