/* Theme Variables - thundurus Theme */
.theme-thundurus {
    --primary-color: #C28EF5;
    --secondary-color: #8A799F;
    --tertiary-color: #7845de50;
    --text: #fff;
    --text-dim: #8b64a1cc;
    --add-fill: #261C4A;
    --borders: #C28EF5;
    --borders-dim: rgba(138, 121, 159, 0.507);
    --background-image: url('../images/bg.png');
    --petbg-image: url('../images/pet-bg.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/thundurus.gif');
    --pet-scale: 1.2;
    --form-transparency: #0000008f;
}

.theme-swampert {
    --primary-color: #C28EF5;
    --secondary-color: #ac71c7;
    --tertiary-color: #7845de50;
    --text: #fff;
    --text-dim: #da6c59e3;
    --add-fill: #261C4A;
    --borders: #f17565;
    --borders-dim: rgba(255, 108, 98, 0.555);
    --background-image: url('../images/bg.png');
    --petbg-image: url('../images/pet-bg-swamp.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/swampert.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
    --pet-contrast: 1.3;
}

/* blaziken Theme */
.theme-blaziken {
    --primary-color: #FF6B4A;
    --secondary-color: #CC4F32;
    --tertiary-color: #ff452250;
    --text: #fff;
    --text-dim: #a56255cc;
    --add-fill: #4A1F1A;
    --borders: #FF6B4A;
    --borders-dim: rgba(204, 79, 50, 0.507);
    --background-image: url('../images/bg-fire.png');
    --petbg-image: url('../images/pet-bg-fire.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(60%) contrast(400%);
    --background-color: #111111;
    --pet: url('../images/mega-charizard.gif');
    --pet-scale: 1.2;
    --form-transparency: #0000008f;
}

/* absol Theme */
.theme-absol {
    --primary-color: #0D47A1;
    --secondary-color: #1565C0;
    --tertiary-color: #0d47a150;
    --text: #ffffff;
    --text-dim: #90caf9cc;
    --add-fill: #0d47a1;
    --borders: #2d74dd;
    --borders-dim: rgba(47, 118, 224, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-umbreon.jpg');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #181818;
    --pet: url('../images/absol-mega.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

/* venasaur Theme */
.theme-venasaur {
    --primary-color: #31d139;
    --secondary-color: #51cc32;
    --tertiary-color: #22ff4550;
    --text: #fff;
    --text-dim: #5ea150cc;
    --add-fill: #1A4A2F;
    --borders: #4AFF91;
    --borders-dim: rgba(50, 204, 111, 0.507);
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --background-image: url('../images/bg-grass.png');
    --filter-color: invert(70%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/mega-venasaur.gif');
    --pet-scale: 1.2;
    --form-transparency: #0000008f;
}

/* pangoro Theme */
.theme-pangoro {
    --primary-color: #31d139;
    --secondary-color: #51cc32;
    --tertiary-color: #22ff4550;
    --text: #fff;
    --text-dim: #5ea150cc;
    --add-fill: #1A4A2F;
    --borders: #4AFF91;
    --borders-dim: rgba(50, 204, 111, 0.507);
    --petbg-image: url('../images/pet-bg-grass.jpg');
    --background-image: url('../images/bg-grass.png');
    --filter-color: invert(70%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/pangoro.gif');
    --pet-scale: 1.2;
    --form-transparency: #0000008f;
}

/* snorlax Theme */
.theme-snorlax {
    --primary-color: #64a4c2; /* Changed to teal */
    --secondary-color: #46818b; /* Changed to teal */
    --tertiary-color: #64b7c250; /* Changed to teal with transparency */
    --text: #fff;
    --text-dim: #6d8d96cc;
    --add-fill: #2f494f; /* Changed to teal */
    --borders: #64C2C2; /* Changed to teal */
    --borders-dim: rgba(70, 123, 139, 0.507); /* Changed to teal with transparency */
    --petbg-image: url('../images/pet-bg-sleep.jpg');
    --background-image: url('../images/bg-sleep.png');
    --filter-color: invert(50%) sepia(100%) saturate(500%) hue-rotate(170deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/snorlax.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

/* scizor Theme */
.theme-scizor {
    --primary-color: #D32F2F;
    --secondary-color: #B71C1C;
    --tertiary-color: #d32f2f50;
    --text: #fff;
    --text-dim: #ff7777b9;
    --add-fill: #4A1F1A;
    --borders: #D32F2F;
    --borders-dim: rgba(183, 28, 28, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-dark.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(60%) contrast(1000%);
    --background-color: #111111;
    --pet: url('../images/scizor.gif');
    --pet-scale: 1.2;
    --pet-contrast: 1.5;
    --form-transparency: #0000008f;
}

.theme-spinda {
    --primary-color: #f84646;
    --secondary-color: #db4444;
    --tertiary-color: #d6515150;
    --text: #fff;
    --text-dim: #ff7777b9;
    --add-fill: #4a1a1a;
    --borders: #ec4848;
    --borders-dim: rgba(236, 77, 77, 0.507);
    --background-image: url('../images/bg-dark.png');
    --petbg-image: url('../images/pet-bg-spinda.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-50deg) brightness(60%) contrast(1000%);
    --background-color: #111111;
    --pet: url('../images/spinda.gif');
    --pet-scale: 1.2;
    --pet-contrast: 1.5;
    --form-transparency: #0000008f;
}

/* celebi Theme */
.theme-celebi {
    --primary-color: #31d139;
    --secondary-color: #51cc32;
    --tertiary-color: #22ff4550;
    --text: #fff;
    --text-dim: #5ea150cc;
    --add-fill: #1A4A2F;
    --borders: #4AFF91;
    --borders-dim: rgba(50, 204, 111, 0.507);
    --petbg-image: url('../images/pet-bg-forest.jpg');
    --background-image: url('../images/bg-grass.png');
    --filter-color: invert(70%) sepia(100%) saturate(500%) hue-rotate(90deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/celebi.gif');
    --pet-scale: 0.8;
    --form-transparency: #0000008f;
}

/* umbreon Theme */
.theme-umbreon {
    --primary-color: #0D47A1;
    --secondary-color: #1565C0;
    --tertiary-color: #0d47a150;
    --text: #ffffff;
    --text-dim: #90caf9cc;
    --add-fill: #0d47a1;
    --borders: #2d74dd;
    --borders-dim: rgba(47, 118, 224, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-umbreon.jpg');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #181818;
    --pet: url('../images/umbreon.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

.theme-tyrantrum {
    --primary-color: #0D47A1;
    --secondary-color: #1565C0;
    --tertiary-color: #0d47a150;
    --text: #ffffff;
    --text-dim: #90caf9cc;
    --add-fill: #0d47a1;
    --borders: #2d74dd;
    --borders-dim: rgba(47, 118, 224, 0.507);
    --background-image: url('../images/bg-umbreon.png');
    --petbg-image: url('../images/pet-bg-umbreon.jpg');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #181818;
    --pet: url('../images/tyrantrum.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-rayquaza {
    --primary-color: #d49e29;
    --secondary-color: #FFD700;
    --tertiary-color: #00440050;
    --text: #ffffff;
    --text-dim: #cd9732cc;
    --add-fill: #8b0000;
    --borders: #fbff00;
    --borders-dim: rgba(255, 187, 0, 0.507);
    --background-image: url('../images/bg-electric.png');
    --petbg-image: url('../images/pet-bg-ray.png');
    --filter-color: invert(50%) sepia(100%) saturate(800%) hue-rotate(25deg) brightness(100%) contrast(300%);
    --background-color: #111111;
    --pet: url('../images/rayquaza-mega.gif');
    --pet-scale: 1;
    --form-transparency: #0000008f;
}

.theme-obstagoon {
    --primary-color: #2990d4;
    --secondary-color: #0066ff;
    --tertiary-color: #0a4d9971;
    --text: #ffffff;
    --text-dim: #cd3232cc;
    --add-fill: #1669ad;
    --borders: #e43636;
    --borders-dim: rgba(255, 61, 61, 0.507);
    --background-image: url('../images/bg-rb.png');
    --petbg-image: url('../images/pet-bg-umbreon.jpg');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(-10deg) brightness(60%) contrast(1000%);
    --background-color: #111111;
    --pet: url('../images/obstagoon.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-tinkaton {
    --primary-color: #da52bc;
    --secondary-color: #df30e6;
    --tertiary-color: #540a9971;
    --text: #ffffff;
    --text-dim: #d782ffcc;
    --add-fill: #7d16ad;
    --borders: #bb36e4;
    --borders-dim: rgba(255, 61, 255, 0.507);
    --background-image: url('../images/bg-tinka.png');
    --petbg-image: url('../images/pet-bg-tinka.png');
    --filter-color: invert(30%) sepia(100%) saturate(500%) hue-rotate(250deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/tinkaton.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}

.theme-gardevoir {
    --primary-color: #2b81e4;
    --secondary-color: #e66430;
    --tertiary-color: #3693b871;
    --text: #ffffff;
    --text-dim: #82d1ffcc;
    --add-fill: #7d16ad;
    --borders: #e46736;
    --borders-dim: rgba(255, 122, 61, 0.507);
    --background-image: url('../images/bg-gard.png');
    --petbg-image: url('../images/pet-bg-gard.jpg');
    --filter-color: invert(60%) sepia(100%) saturate(500%) hue-rotate(190deg) brightness(100%) contrast(100%);
    --background-color: #111111;
    --pet: url('../images/gardevoir.gif');
    --pet-scale: 1.1;
    --form-transparency: #0000008f;
}